/*news */
.news{
    display: inline-block;
    margin: 5% 5%;
}

.news-text{
    display: inline;
    font-family: sans-serif;
    font-size: .8rem;
    margin: 5% 0; 
}

.news-title{
    display: inline-block;
    font-family: sans-serif;
    font-size: 1.2rem;
    color: #4080bf;
    margin: 5%;
}

.news-image{
    display: inline;
    float: left;
    margin-right: 2%;
    width: 55%;
    height: 20%;
}

.read-more-btn{
    margin: 5%;
    bottom: 5%;
    float: right;
}