body {
    margin: 0;
    font-family: sans-serif;
}

.head {
    position: relative;
    background-color: #385c80;
}

.head__button-mobile {
    margin: 1em;
    border: .5px groove #2176ca;
    padding: .3em 1em;
    color: white;
    background: linear-gradient(#3378b1,#385c80);
}

.head__logo {
    display: inline-block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.head__logo__text {
    display: inline;
    float: right;
    font-weight: normal;
    font-size: 1em;
    color: rgb(201, 4, 4);
}

.head__logo__text strong {
    color: white;
}

.head__button-desktop {
    display: none;
}