body {
    width:100%;
    margin: 0;
    font-family: sans-serif;
}
/*header*/
.head {
    display: table;
    width: 100%;
    text-align: left;
    background-color: #385c80;
}
.head__button-mobile {
    display: table-cell;
    margin: 1em;
    border: .5px groove #2176ca;
    padding: .3em 1em;
    color: white;
    background: linear-gradient(#3378b1,#385c80);
}
.head__logo {
    display: table-cell;
    vertical-align: middle;
}
.head__logo__img {
    vertical-align: middle;
    width: 32px;
    height: 32px;
}
.head__logo__text {
    display: inline-block;
    font-weight: normal;
    font-size: 1rem;
    color: rgb(201, 4, 4);
}
.head__logo__text strong {
    color: white;
}
.head__button-desktop {
    display: none;
}
.navbar {
    display: none;
}

.page-hero {

    display: none;
}
.main-news {
    background-color: #e0e0d1;
}

.main-news h4 {
    padding: 1.5% 3% 0% 3%;
    margin: .5%;
    font-size: 1.2rem;
    color: #4080bf;
    font-weight: lighter;
}
.main-news p {
    margin: 0.5rem 0rem;
    padding: 1% 3%;
    font-size: .8rem;
    color: dimgray;
}
.facebook-hotkey {
    position: relative;
}

.facebook-hotkey a {
    margin: 0 3%;
    padding: .001rem;
    float: left;
    height: 1rem;
    width: 1rem;
    text-decoration: none;
    color: dimgray;
    border: .3px solid #ffffff;
    border-radius: 3%;
    background-color: #ffffff;
}
.facebook-icon {
    width: 100%;
    position: relative;
}
.facebook-hotkey h6 {
    padding: .5rem 2rem;
    margin: 0;
    font-size: .5rem;
    color: dimgray;
    font-weight: lighter;
}

/*news */
.news{
    display: inline-block;
    padding: 3%;
}

.news:nth-child(even){
    background-color: #e0e0d1;
}

.news-text{
    display: inline;
    font-family: sans-serif;
    font-size: .8rem;
    margin: 5% 0; 
}

.news-title{
    font-family: sans-serif;
    font-size: 1.2rem;
    color: #4080bf;
}

.news-image{
    display: inline;
    float: left;
    margin-right: 2%;
    width: 55%;
}

.read-more-btn{
    margin: 5%;
    bottom: 5%;
    float: right;
}

/*footer*/
.footer{
    width: 80%;
    display: flex;
}

.bloco_footer{
    width: 30%;
    padding-left: 30px;
}

.footer__title{
    font-family: sans-serif;
    font-size: 1.2rem;
    color: #4080bf;
}

.footer__text{
    display: inline;
    font-family: sans-serif;
    font-size: .8rem;
    margin: 5% 0;
}

.footer__link{
    font-family: sans-serif;
    font-size: .8rem;
    color: #4080bf;
    display: block;
    margin-top: 10px;
}


@media (min-width: 768px) {
    /*header*/
    .head {
        display: block;
        box-sizing: border-box;
        position: relative;
        height: 5em;
    }
    .head__logo {
        padding-left: 3rem 
    }
    .head__logo__text {
        font-size: 1.5rem;
    }
    .head__logo__img {
        width: 48px;
        height: 48px;
    }
    .head__button-mobile {
        display: none;
    }
    .head__button-desktop {
        display: inline-block;
        position: absolute;
        transform: translate(-50%,-50%);
        right: 0;
        top: 50%;
        padding: .3em 1em;
        color: #385c80;
        background-color: white;
    }
    .navbar {
        display: table;
        width: 100%;
        height: 2rem;
        padding: 0;
        background-color: #e0e0d1;
    }
    .navbar__link-list li {
        display: table-cell;
        width: 1%;
        text-align: center;
    }
    .navbar__link-list a {
        text-decoration: none;
        font-size: .8rem;
        color: dimgray;
    }
    .page-hero {
        display: block;
        width: 100%;
        position: relative;
    }
    .page-hero img {
        width: 100%;
        max-height: 19rem;
        max-width: 48rem;
    }
    .page-hero  h5 {
        font-size: 2rem;
        color: #ffffff;
    }
    .page-hero h4 {
        font-size: 1.8rem;
        color: #ffffff;
        position: absolute;
        bottom: 3%;
        left: 2%;
    }
    .main-news h4 {
        padding: 1.5% 1% 0% 1%;
    }
    .main-news p {
        margin: 0.5rem 1rem;
        padding: 0%;
        max-width: 97%;
    }
    .facebook-hotkey a {
        margin: .5rem 0 0 9rem;
    }
    .facebook-hotkey h6 {
        padding: .5rem 2rem;
        margin: 0% 18%;
        max-width: 50%;
    }
    .news-title{
        margin: .4%;
    }

    .news-image{
        width: 35%;
    }
}

@media (min-width: 992px) {
   body {
       background-color:#e0e0d1; 
   }
   /*header*/
   header {
       position: relative;
       display: inline-block;
       width: 20rem;
   }
   .head {
       display: inline-block;
   }
   .head__logo__img {
       vertical-align: top;
   }
   .head__logo__text strong {
       display: block;
   }
   .head__button-desktop {
       position: absolute;
       display: block;
   }
   .navbar {
       background-color: whitesmoke;
   }
   .navbar__link-list {
       padding-left: 1em;
   }
   .navbar__link-list li {
       display: block;
       width: 100%;
       text-align: left;
   }
   /*header*/
   .page-hero img {
        max-height: 27rem;
        max-width: 87rem;
}
   }
   .page-hero h4 {
        bottom: 1.5rem;
        left: 37rem;
        font-size: 2.8rem;
   }
   .main-news h4 {
        margin: 0rem;
        padding-bottom: 1rem;
        float: right;
        max-width: 80rem;
        font-size: 2rem;
}
   .main-news p {
        max-width: 80rem;
        float: right;
        font-size: 1.2rem;
   }
   .facebook-hotkey h6 {
        padding: .5rem 2rem;
        max-width: 22%;
        float: right;
        font-size: 0.9rem;
   }
    .facebook-hotkey a {
        position: absolute;
        bottom: -18.3rem;
        right: 30rem;
        height: 2rem;
        width: 2rem;
    }
    .facebook-hotkey h6 {
        margin-right: .5rem;
        max-width: 22%;
        float: right;
   }
   .news{
    display: inline-block;
    padding: 3%;
}

.news:nth-child(even){
    background-color: #e0e0d1;
}
}